:root{
  --bf:hsla(221, 100%, 79%, 0.74);
  --bodyc:rgba(230, 230, 230,0.8);
  --back:rgb(2, 22, 36);
  }

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&family=Oswald&family=Russo+One&display=swap');

hat{
  font-size: 1.2em;
  padding:0px;
  margin:0px;
  line-height: 160%;
}
hat a, h6 a{
  text-decoration: none;
  text-shadow: 1px 1px 16px hsl(220, 30%, 70%);
}
h1{text-shadow: 1px 1px 16px rgb(220, 220, 220);}

h1, h2, h3, h4, h5, h6{
  line-height:120%;
  /* margin: 20px; */
  padding: 20px;
}
hat1,hat2,hat3,hat4,hat5,hat6 {
  font-family: 'Russo One', sans-serif !important;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
h1{font-size: .66em;}
h2{font-size: .5em;}
h3{font-size: .39em;}
h4{font-size: .3em;}
h5{font-size: .25em;}
h6{font-size: .2em;}

hat1{font-size: 1.32em;}
hat2{font-size: 1em;}
hat3{font-size: .78em;}
hat4{font-size: .6em;}
hat5{font-size: .5em;}
hat6{font-size: .4em;}

/*old styles*/
*{margin:0; padding:0; border:0;}

@font-face {
    font-family: "body";
    src: url("Comfortaa-Bold.ttf");
    }

body{
    background: var(--back);
    margin:0;
    padding:0;
    border:0;
    color:var(--bodyc);
    font-family: "body" !important;
    line-height: 200%;
    font-size: 300%;
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: rgb(12,92,146);
    height: 4px;
}
a{color:var(--bf);}

div#fonsky{
    position:absolute;
    height:100%;
    width:100%;
    background: linear-gradient(
        rgb(0, 0, 0),
        rgb(0, 21, 34) 29%,
        rgb(5, 38, 59)45%,
        rgb(12,92,146)60%,
        rgb(2, 22, 36)69%,
        rgb(104, 102, 101)71%,
        rgb(66, 31, 9)73%,
        rgb(97, 176, 102) 75%,
        rgb(15, 89, 29)
        ); /* Standard syntax (must be last) */
}

table.karkas{
    width:100%;
    background-image: linear-gradient(
        rgb(0, 0, 0),
        rgb(0, 21, 34) 45%,
        rgb(5, 38, 59)65%,
        rgb(12,92,146)80%,
        rgb(2, 22, 36)85%
        ); /* Standard syntax (must be last) */
}

table.app{
  position:absolute;
  height:50px;
  width:100%;
  background-image: linear-gradient(
      rgb(2, 22, 36),
      rgb(2, 22, 36)50px
      ); /* Standard syntax (must be last) */
}

td{border: white solid 2px;}

div#pagedata{position:absolute;width:100%;}
img#hd{
    width:200px;
    padding-top: 50px;
}
table{
    width:100%;
    text-align:center;
}
td{vertical-align: top;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.logo-tools{height:40px;}
.app_show{width: 200px;}
.x3app_show{width: 600px;}
td#places{line-height: 190%;}
img#DA{width: 300px;}