.top-container{
  width: 100%;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  position: relative;
  background: var(--triad2dark);
  
  font-family: "Jersey 10 Charted", sans-serif;
  text-align: center;
  color: var(--triad3);
  /* text-shadow: 0vw 0vw 0.25vw var(--triad1) !important; */
}
