.regulations{
  position: relative;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
  column-gap: 8vw;
  justify-items: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers the grid itself horizontally */
  align-content: center; /* Centers the grid itself vertically */
  
  color: var(--triad3);
  background: linear-gradient( to top, var(--triad2dark), transparent 75%);
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

.regulations a{
  color: var(--triad2);
  position: relative;
  display: inline-block;
}

.regulations a::after {
  content: attr(data-title); /* Use a custom attribute for the tooltip text */
  position: absolute;
  bottom: 100%; /* Position the tooltip above the element */
  left: 50%;
  transform: translate(-50%, 40%);
  
  background-color: var(--triad2dark); /* Background color of the tooltip */
  color: var(--triad2); /* Text color of the tooltip */
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1vw;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1000; /* Ensure the tooltip is above other elements */
 }
 
 .regulations a:hover::after {
  animation: showTooltip 1s forwards;
  animation-delay: 2s; 
 }