@media (max-width:480px){ /* mobile (just a name to recognize) */
  .top-container{
    font-size: var(--mobile-top-font-size);
  }
  
  .card-container{
    grid-template-columns: repeat(var(--mobile-columns), 1fr);
  }
  
  .app-card{
    width: var(--mobile-card-width);
    height: var(--mobile-card-width);
  }
  
  .app-title a{
    font-size: var(--mobile-card-font-size);
  }
  
  .app-card .app-title a::after{
    font-size: var(--mobile-app-card-title-a-after-font-size);
    padding-left: var(--mobile-app-card-title-a-after-font-size);
    padding-right: var(--mobile-app-card-title-a-after-font-size);
    padding-top: calc(var(--mobile-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--mobile-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--mobile-app-card-title-a-after-font-size) / 1.5);
    width: 100%; /*single column only*/    
  }
  
  .sm-container{
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 18vw;
    margin-top: 20vw !important;
    margin-bottom: 20vw !important;
  }
  
  .sm-card{
    width: 16vw;
    height: 8vw;
  }
  
  .sm-card::after{
    font-size: var(--mobile-app-card-title-a-after-font-size);
    padding-left: var(--mobile-app-card-title-a-after-font-size);
    padding-right: var(--mobile-app-card-title-a-after-font-size);
    padding-top: calc(var(--mobile-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--mobile-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--mobile-app-card-title-a-after-font-size) / 1.5);
    
    transform: translate(-50%, -80%);
  }
  
  .sm-card .sm-icon{
    width: 13vw;
    transform: translate(-50%,-80%);
  }
  
  .sm-card:hover .sm-icon{ /*social-media-icon control*/
    width: 16vw;
    transform: translate(-50%,-90%);
  }
  
  .regulations{
    font-size: var(--mobile-regulations-font-size);
    padding-bottom: calc(var(--mobile-regulations-font-size) * 2);
    padding-right: var(--mobile-regulations-font-size);
    padding-left: var(--mobile-regulations-font-size);  
  }
  
  .regulations a{
    font-size: calc(var(--mobile-regulations-font-size) * 1.2);
  }
  
  .regulations a::after{
    font-size: var(--mobile-app-card-title-a-after-font-size);
    padding-left: var(--mobile-app-card-title-a-after-font-size);
    padding-right: var(--mobile-app-card-title-a-after-font-size);
    padding-top: calc(var(--mobile-app-card-title-a-after-font-size)/2);
    padding-bottom: calc(var(--mobile-app-card-title-a-after-font-size)/2);
    border-radius: calc(var(--mobile-app-card-title-a-after-font-size)/1.5);
    transform: translate(-50%, -10%);
  }
}
@media(min-width: 481px) and (max-width: 720px){ /* tablet */
  .top-container{
    font-size: var(--tablet-top-font-size);
  }
  
  .card-container{
    grid-template-columns: repeat(var(--tablet-columns), 1fr);
  }
  
  .app-card{
    width: var(--tablet-card-width);
    height: var(--tablet-card-width);
  }
  
  .app-title a{
    font-size: var(--tablet-card-font-size);
  }
  
  .app-card .app-title a::after{
    font-size: var(--tablet-app-card-title-a-after-font-size);
    padding-left: var(--tablet-app-card-title-a-after-font-size);
    padding-right: var(--tablet-app-card-title-a-after-font-size);
    padding-top: calc(var(--tablet-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--tablet-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--tablet-app-card-title-a-after-font-size) / 1.5);
  }
  
  .sm-container{
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 18vw;
    margin-top: 20vw !important;
    margin-bottom: 20vw !important;
  }
  
  .sm-card{
    width: 14vw;
    height: 7vw;
  }
  
  .sm-card::after{
    font-size: var(--tablet-app-card-title-a-after-font-size);
    padding-left: var(--tablet-app-card-title-a-after-font-size);
    padding-right: var(--tablet-app-card-title-a-after-font-size);
    padding-top: calc(var(--tablet-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--tablet-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--tablet-app-card-title-a-after-font-size) / 1.5);
    
    transform: translate(-50%, -80%);
  }
  
  .sm-card .sm-icon{
    width: 10vw;
    transform: translate(-50%,-80%);
  }
  
  .sm-card:hover .sm-icon{ /*social-media-icon control*/
    width: 13vw;
    transform: translate(-50%,-90%);
  }
  
  .regulations{
    font-size: var(--tablet-regulations-font-size);
    padding-bottom: calc(var(--tablet-regulations-font-size) * 2);
    padding-right: var(--tablet-regulations-font-size);
    padding-left: var(--tablet-regulations-font-size);  
  }
  
  .regulations a{
    font-size: calc(var(--tablet-regulations-font-size) * 1.2);
  }
  
  .regulations a::after{
    font-size: var(--tablet-app-card-title-a-after-font-size);
    padding-left: var(--tablet-app-card-title-a-after-font-size);
    padding-right: var(--tablet-app-card-title-a-after-font-size);
    padding-top: calc(var(--tablet-app-card-title-a-after-font-size)/2);
    padding-bottom: calc(var(--tablet-app-card-title-a-after-font-size)/2);
    border-radius: calc(var(--tablet-app-card-title-a-after-font-size)/1.5);
    transform: translate(-50%, -10%);
  }
}
@media(min-width:721px) and (max-width:1440px){ /* laptop */
  .top-container{
    font-size: var(--laptop-top-font-size);
  }

  .card-container{
    grid-template-columns: repeat(var(--laptop-columns), 1fr);
  }

  .app-card{
    width: var(--laptop-card-width);
    height: var(--laptop-card-width);
  }

  .app-title a{
    font-size: var(--laptop-card-font-size);
  }

  .app-card .app-title a::after{
    font-size: var(--laptop-app-card-title-a-after-font-size);
    padding-left: var(--laptop-app-card-title-a-after-font-size);
    padding-right: var(--laptop-app-card-title-a-after-font-size);
    padding-top: calc(var(--laptop-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--laptop-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--laptop-app-card-title-a-after-font-size) / 1.5);
  }

  .sm-container{
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 9vw;
    margin-top: 10vw !important;
    margin-bottom: 10vw !important;
  }

  .sm-card{
    width: 8vw;
    height: 4vw;
  }

  .sm-card::after{
    font-size: var(--laptop-app-card-title-a-after-font-size);
    padding-left: var(--laptop-app-card-title-a-after-font-size);
    padding-right: var(--laptop-app-card-title-a-after-font-size);
    padding-top: calc(var(--laptop-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--laptop-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--laptop-app-card-title-a-after-font-size) / 1.5);
    
    transform: translate(-50%, -80%);
  }

  .sm-card .sm-icon{
    width: 6vw;
    transform: translate(-50%,-80%);
  }

  .sm-card:hover .sm-icon{ /*social-media-icon control*/
    width: 8vw;
    transform: translate(-50%,-90%);
  }

  .regulations{
    font-size: var(--laptop-regulations-font-size);
    padding-bottom: calc(var(--laptop-regulations-font-size) * 2);
    padding-right: var(--laptop-regulations-font-size);
    padding-left: var(--laptop-regulations-font-size);  
  }

  .regulations a{
    font-size: calc(var(--laptop-regulations-font-size) * 1.2);
  }

  .regulations a::after{
    font-size: var(--laptop-app-card-title-a-after-font-size);
    padding-left: var(--laptop-app-card-title-a-after-font-size);
    padding-right: var(--laptop-app-card-title-a-after-font-size);
    padding-top: calc(var(--laptop-app-card-title-a-after-font-size)/2);
    padding-bottom: calc(var(--laptop-app-card-title-a-after-font-size)/2);
    border-radius: calc(var(--laptop-app-card-title-a-after-font-size)/1.5);
    transform: translate(-50%, -10%);
  }
}
@media(min-width:1441px){
  .top-container{
    font-size: var(--desktop-top-font-size);
  }
  
  .card-container{
    grid-template-columns: repeat(var(--desktop-columns), 1fr);
  }
  
  .app-card{
    width: var(--desktop-card-width);
    height: var(--desktop-card-width);
  }
  
  .app-title a{
    font-size: var(--desktop-card-font-size);
  }
  
  .app-card .app-title a::after{
    font-size: var(--desktop-app-card-title-a-after-font-size);
    padding-left: var(--desktop-app-card-title-a-after-font-size);
    padding-right: var(--desktop-app-card-title-a-after-font-size);
    padding-top: calc(var(--desktop-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--desktop-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--desktop-app-card-title-a-after-font-size) / 1.5);
  }
  
  .sm-container{
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 9vw;
    margin-top: 10vw !important;
    margin-bottom: 10vw !important;
  }
  
  .sm-card{
    width: 6vw;
    height: 3vw;
  }
  
  .sm-card::after{
    font-size: var(--desktop-app-card-title-a-after-font-size);
    padding-left: var(--desktop-app-card-title-a-after-font-size);
    padding-right: var(--desktop-app-card-title-a-after-font-size);
    padding-top: calc(var(--desktop-app-card-title-a-after-font-size) / 2);
    padding-bottom: calc(var(--desktop-app-card-title-a-after-font-size) / 2);
    border-radius: calc(var(--desktop-app-card-title-a-after-font-size) / 1.5);
    
    transform: translate(-50%, -80%);
  }
  
  .sm-card .sm-icon{
    width: 4.5vw;
    transform: translate(-50%,-80%);
  }
  
  .sm-card:hover .sm-icon{ /*social-media-icon control*/
    width: 6vw;
    transform: translate(-50%,-90%);
  }
  
  .regulations{
    font-size: var(--desktop-regulations-font-size);
    padding-bottom: calc(var(--desktop-regulations-font-size) * 0.5);
    padding-right: var(--desktop-regulations-font-size);
    padding-left: var(--desktop-regulations-font-size);
    column-gap: 8vw;
  }
  
  .regulations a{
    font-size: calc(var(--desktop-regulations-font-size) * 1.2);
  }
  
  .regulations a::after{
    font-size: var(--desktop-app-card-title-a-after-font-size);
    padding-left: var(--desktop-app-card-title-a-after-font-size);
    padding-right: var(--desktop-app-card-title-a-after-font-size);
    padding-top: calc(var(--desktop-app-card-title-a-after-font-size)/2);
    padding-bottom: calc(var(--desktop-app-card-title-a-after-font-size)/2);
    border-radius: calc(var(--desktop-app-card-title-a-after-font-size)/1.5);
    transform: translate(-50%, -10%);
  }
}
