.regulations{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw; /* Optional: Adds space between grid items */
  column-gap: 8vw;
  
  background: var(--triad2dark);
}