:root{
  --bf:hsla(221, 100%, 79%, 0.74);
  --bodyc:rgba(230, 230, 230,0.8);
  --back:rgb(2, 22, 36);
  }

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&family=Oswald&family=Russo+One&display=swap');

/*20201027 new stuff*/
@media (max-width:480px){
  .leftBox,.rightBox{
    /* background:firebrick ; */
    width:100%;
    min-width: 360px;
  }
}
@media(min-width: 481px) and (max-width: 720px){
  .leftBox,.rightBox{
    /* background:green; */
    width:100% !important;
    min-width: 360px;
  }
}
@media(min-width:721px) and (max-width:1440px){
  .leftBox,.rightBox{
    /* background:navy; */
    width:50%;
  }
}
@media(min-width:1441px){
  .leftBox,.rightBox{
    /* background:black; */
    width:50%;
  }
}

*{margin:0 !important; padding:0 !important; border:0px !important;}

body{
  background: var(--back);
  color:var(--bodyc);
  font-family: "Comfortaa" !important;
  line-height: 200%;
  font-size: 300%;
}

.bigBox{
  /* background:white !important; */
  display: block;
  overflow: auto;
  text-align: center;
  padding: 20px !important; /*control using media*/
}
.bigBox#topBox{
  background-image: linear-gradient(
        rgb(0, 0, 0),
        rgb(0, 21, 34) 45%,
        rgb(5, 38, 59)65%,
        rgb(12,92,146)80%,
        rgb(2, 22, 36)85%
        ); 
}

.leftBox{
  float: left;
  text-align: left;
}

.rightBox{
  float: right;
}

hr{
  border: 0;
  clear:both;
  width: 100%;               
  background-color: rgb(12,92,146);
  height: 4px;
}

a{color:var(--bf);}

hat1,hat2,hat3,hat4,hat5,hat6 {
  font-family: 'Russo One', sans-serif !important;
}

hat{
  font-size: 1.2em;
  line-height: 160%;
}
hat a, h6 a{
  text-decoration: none;
  text-shadow: 1px 1px 16px hsl(220, 30%, 70%);
}
h1{text-shadow: 1px 1px 16px rgb(220, 220, 220);}

h1, h2, h3, h4, h5, h6{
  line-height:120%;
  padding: 20px;
}

h1{font-size: .66em;}
h2{font-size: .5em;}
h3{font-size: .39em;}
h4{font-size: .3em;}
h5{font-size: .25em;}
h6{font-size: .2em;}

hat1{font-size: 1.32em;}
hat2{font-size: 1em;}
hat3{font-size: .78em;}
hat4{font-size: .6em;}
hat5{font-size: .5em;}
hat6{font-size: .4em;}



/* 
.logo-tools{height:40px;}
 */

img#hd{
  width:200px;
  padding-top: 50px;
}

.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}

/* td{border: white solid 2px !important;} */

.x3app_show{
  width: 100%;
}
.app_show{width: 30%;}
img#DA{width: 300px;}