body {
background-color: rgb(240, 216, 164); color: rgb(9, 13, 24);
/* background-image: url('background.svg'); background-repeat:repeat-x; */
background-attachment:fixed;
font-family: 'PT Sans';font-size: 100%;}

@font-face {font-family: 'PT Sans'; 
	src: url('fonts/pts55f_w.eot'); 
	src: local('PT Sans'), url('fonts/PTS55F_W.woff') format('woff'),url('fonts/PTS55F_W.ttf') format('truetype');}


a:link{color:rgb(5, 77, 47);text-decoration:none;font-size:120%;}
a:visited{color:rgb(0,0,0);text-decoration:overline;}
a:hover,a:active{color:rgb(3, 149, 113);text-decoration:overline;}

div#sep{
background:rgb(0,166,255); width:610px; height:2px;
position:relative; left:-5px;
margin-top:20px;margin-bottom:20px;
}

div#info{
position: absolute;top: 150px; left: 200px;width:600px; background-repeat: repeat;
background-image: url('background_div_info.svg'); color:rgb(0,0,0);
padding-top:5px;padding-left:5px;padding-right:5px;padding-bottom:250px;
text-align:left;
}

td{border:1px solid rgb(0,166,255);}
.tablehead{font-weight:;color:rgb(0,255,255);}
span{color:rgb(9, 13, 24);font-size:120%;}
div.sub{margin-left:20px;position:inherit;text-indent:-10px;}
table.tablecenter{text-align:center;}
td#tdright{text-align:right;}
.px150{width:150px;}
.whitetext{color:white;}
