body{
  color: #000;
  line-height: 1.5;
  background-color:whitesmoke;
}

img{
  width: 100%;
}

.mini{
  width: 16px;
}

h3 {
  padding-top: 1em;
}

li{
  padding: 20px
}

*{
  scroll-behavior: smooth;
}