body {
  /* color: lightgray;
  background-color: black; */
  align-content: center;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  align-items: center;
  background-color: white;
}

tr:hover {
  background-color: #d6eeee;
}

table td,
th {
  border: 1px solid;
  text-align: center;
}

.hidden {
  display: none;
}

red {
  color: red;
}

#rotatedAxisGroupedBar .base-line line {
  stroke-width: 3px;
  stroke: #000;
}
