html,body {
  scrollbar-width: none; /* Firefox: hide scrollbar */
  -ms-overflow-style: none; /* IE/Edge: hide scrollbar */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera: hide scrollbar */
}

.d13{ color: red; }
.d46{ color: orange; }
.d79{ color: yellow; }
.d1012{ color: lightgreen; }
.d1315{ color: skyblue; }
.d1618{ color: pink; }
.digits{margin: 0 0.1em;}

body{ text-align: center; }

/*gui*/
.gui {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: min-content; /* Ensures grid takes only needed width */
  margin: 0 auto;
  gap: 0.4em;
  touch-action: none;
  user-select: none;
}

.click {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  cursor: pointer;  
}

.click:empty {
  visibility: hidden; /* Hides empty divs but keeps grid space (gui corners) */
}

.guiinfo{
  background: none;
  color: white;
}

input{
  margin: 0.4em;
  border-radius: 10px;
  box-shadow: none !important;
  border: none !important; /*in some reason only this removes right-bottom shadow effect in vivaldi*/
  text-align: center;
}
