@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+Code+Latin:wdth,wght@100..125,100..700&family=Reddit+Mono:wght@200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Micro+5+Charted&display=swap');


/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.reddit-mono-<uniquifier> {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
// <width>: Use a value from 100 to 125

.m-plus-code-latin-<uniquifier> {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" <width>;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.m-plus-1-code-<uniquifier> {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.micro-5-charted-regular {
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "digits";
  src: url("calculatorNumbers.ttf");
}
*/

:root{ --transition-time: 1s; }
*{ transition: all var(--transition-time); scroll-behavior: smooth;}

body{
  background: hsl(160, 20%, 40%);
  color: hsl(60, 30%, 90%);
  
  font-family: "Reddit Mono", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 1px;
}

/* title */
.t{
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 100%;
  filter:
  drop-shadow(0px 0px 0.1em black);
  padding-top: 1.6em;
  padding-bottom: 0.4em;
}

/* code + terminal commands + terminal output */
.c, .x, .o{
  font-family: "Reddit Mono", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  white-space: pre-wrap;
  white-space-collapse: preserve-spaces;
  line-height: 100%;
  
  letter-spacing: 0px;
  background: black;
  width: fit-content;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.c {
  counter-reset: itemCounter; /* Initialize the counter */
}

.c div {
  display: flex;
  counter-increment: itemCounter; /* Increment the counter for each div */
}

.c div::before {
  content: counter(itemCounter) ". "; /* Display the counter before the div content */
}

.cx{
  border-left: hsl(160, 20%, 40%) 4px solid;
  padding: 4px;
  margin: 8px;
  width: fit-content;
}

/* execute command in terminal console */
.x div::after {
  content: " ↩"; /* Display the counter before the div content */
  color: hsl(160, 20%, 40%);
}

/* marker */
.m{
  background: black;
  padding-left: 8px;
  padding-right: 8px;
}

/*digits*/
.d{ font-family: "Micro 5 Charted", sans-serif; letter-spacing: 0px; }
.d::before, .d::after{content: "\00a0";}

li{
  /* border: yellow 1px solid; */
  background: hsl(210, 20%, 40%);
  width: fit-content;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;  
}

/* for clickable list and clickable single list items*/
ul.nav li, li.nav{
  cursor: pointer;
  filter:
  drop-shadow(0px 0px 0.1em)
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none; /* Removes underline */
  color:inherit; /* Inherits the color from the parent element */
}

img{
  max-width: 100%;
  border: 1px solid black;
  filter:
  drop-shadow(0px 0px 0.2em black)
}

hr {
  border: none; /* Removes the shadow */
  background-color: hsl(60, 30%, 90%);
  height: 0.01em; /* Adjusts the thickness of the line */
  margin-bottom: 3em;
}

.jump-up{ /* div decoration */
  position: fixed;
  top: 2px; /* gap from top */
  right: 2px; /* gap from right */
  background: hsl(210, 20%, 40%);
  width: fit-content(100%);
  cursor: pointer;
  filter:
  drop-shadow(0px 0px 0.1em)
}