@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+Code+Latin:wdth,wght@100..125,100..700&family=Reddit+Mono:wght@200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Micro+5+Charted&display=swap');


/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.reddit-mono-<uniquifier> {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
// <width>: Use a value from 100 to 125

.m-plus-code-latin-<uniquifier> {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" <width>;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.m-plus-1-code-<uniquifier> {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.micro-5-charted-regular {
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "digits";
  src: url("calculatorNumbers.ttf");
}
*/

:root{ --transition-time: 1s; }
*{ transition: all var(--transition-time); }

body{
  background: hsl(210, 20%, 40%);
  color: hsl(60, 30%, 90%);
  
  font-family: "Reddit Mono", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 1px;
}

/* title */
.t{
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 100%;
}

/* code */
.c{
  font-family: "Reddit Mono", monospace;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  background: black;
  width: fit-content;
}

/* text */
.x{
  
}

/*digits*/
.d{ font-family: "Micro 5 Charted", sans-serif; }
.d::before, .d::after{content: "\00a0";}

li{
  /* border: yellow 1px solid; */
  background: hsl(160, 20%, 40%);
  width:fit-content;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  
}