:root{
  --yb:rgb(123,128,74);
  --yd:rgb(146,152,88);
  --yd05:rgba(146,152,88,0.8);
  --yf:rgb(248,255,148);
  --yf05:rgba(248,255,148,0.5);
  --yborder:rgb(84,88,50);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&family=Oswald&family=Russo+One&display=swap');

@font-face {
  font-family: "YEAR";
  src: url("calculatorNumbers.ttf");
  }

body{
    font-family: 'Comfortaa', sans-serif;
    line-height: 200%;
    background:var(--yb);
    color:var(--yf);
}

a{color:var(--yf)}
hr{color:var(--yf)}

hat1,hat2,hat3,hat4,hat5,hat6 {font-family: 'Russo One', sans-serif;}
hat1{
  display: block;
  font-size: 2em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
hat2{
  display: block;
  font-size: 1.5em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
hat3{
  display: block;
  font-size: 1.17em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
hat4{
  display: block;
  font-size: 1em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
hat5{
  display: block;
  font-size: .83em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
hat6{
  display: block;
  font-size: .67em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}

marker1,marker2,marker3,marker4,marker5,marker6 {font-family: 'Russo One', sans-serif;}
marker1{
  /* display: block; */
  font-size: 2em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker2{
  /* display: block; */
  font-size: 1.5em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker3{
  /* display: block; */
  font-size: 1.17em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker4{
  /* display: block; */
  font-size: 1em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker5{
  /* display: block; */
  font-size: .83em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker6{
  /* display: block; */
  font-size: .67em;
  padding:0px;
  margin:0px;
  line-height: 0%;
}


h3.hat,h2.hat{
    font-family: 'Russo One', sans-serif;
    padding:0px;
    margin:0px;
    line-height: 0%;
}

div.hat{
    border-color: var(--yborder);
    border-width: 1px;
    border-style: solid solid none;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display:inline-block;
    margin:0px;
    padding:20px;
    background:var(--yd)
}

div.beard{
  border-color: var(--yborder);
  border-width:1px;
  border-style:solid solid solid;
  border-radius:10px;
  border-top-left-radius: 0px;
  /* border-top-right-radius: 0px; */
  padding:10px;
  padding-left: 2em;
  padding-bottom:20px;
  /* margin-top:-20px; */
} 

ol.ol01{
  list-style-type: decimal-leading-zero;
}

year{
  color:var(--yf05);
  font-family: "YEAR";
}

release{
  color:var(--yf);
  background:var(--yd05);
  border-color: var(--yf);
  border-style: solid;
  border-width: 1px;
  border-radius:10px;
  padding: 2px 12px;
}

update{
  color:var(--yf05);
  /* background:var(--yd05); */
  border-color: var(--yf05);
  border-style: solid;
  border-width: 1px;
  border-radius:10px;
  padding: 2px 12px;
}