/* :root{
  --yb:rgb(123,128,74);
  --yb:hsl(93, 27%, 40%);
  --yd:hsl(93, 27%, 47%);
  --yd05:hsla(93, 27%, 47%, 0.8);
  --yf:rgb(248,255,148);
  --yf:hsl(66, 100%, 90%);
  --yf05:hsla(66, 100%, 90%, 0.5);
  --yborder:hsl(93, 50%, 25%);
} */

:root{
  --background:hsl(205, 89%, 7%);
  --text:hsla(0, 0%, 90%, 0.8);
  --text05:hsla(0, 0%, 90%, 0.4);
  
  --backhat:hsla(221, 100%, 79%, 0.10);
  --texthat:hsla(0, 0%, 90%, 0.7);
  
  --backmarker:hsla(221, 100%, 79%, 0.37);
  
  --texta:hsla(221, 100%, 79%, 0.74);
  
  
  --border:hsla(221, 100%, 79%, 0.37);
  --borderrelease:hsla(0, 0%, 70%);
  --borderupdate:hsla(221, 20%, 50%);
}



@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&family=Oswald&family=Russo+One&display=swap');

@font-face {
  font-family: "YEAR";
  src: url("calculatorNumbers.ttf");
  }

body{
    font-family: 'Comfortaa', sans-serif;
    line-height: 200%;
    background:var(--background);
    color:var(--text);
}

a{
  font-family: "Russo One";
  color:var(--texta);
  text-decoration: none;
}
a.hat{color:var(--text);}
hr{color:var(--text)}

marker1,marker2,marker3,marker4,marker5,marker6,
hat1,hat2,hat3,hat4,hat5,hat6 {
  font-family: 'Russo One', sans-serif;
  padding:0px;
  margin:0px;
  line-height: 0%;
}
marker1,hat1{font-size: 2em;}
marker2,hat2{font-size: 1.5em;}
marker3,hat3{font-size: 1.17em;}
marker4,hat4{font-size: 1em;}
marker5,hat5{font-size: .83em;}
marker6,hat6{font-size: .67em;}

hat1,hat2,hat3,hat4,hat5,hat6 {display: block;}
hat1{padding:8px 0px;}
hat2{padding-left: 8px;}

h3.hat,h2.hat{
    font-family: 'Russo One', sans-serif;
    padding:0px;
    margin:0px;
    line-height: 0%;
}

div.hat{
  background:var(--backhat);
  color:var(--texthat);
  border-color: var(--border);
  border-width: 1px;
  border-style: solid solid none;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display:inline-block;
  margin:0px;
  padding:20px;
}

div.beard{
  border-color: var(--border);
  border-width:1px;
  border-style:solid solid solid;
  border-radius:10px;
  border-top-left-radius: 0px;
  padding:10px;
  padding-left: 2em;
  padding-bottom:20px;
}

div.box{
  border-color: var(--border);
  border-width:1px;
  border-style:solid;
  border-radius:10px;
  padding:20px 2em;
  padding-left: 0em;
  margin: 2em;
  display: table;
}

ol.ol01{
  counter-reset: item;
  list-style-type: none;
  list-style-position: initial !important;
  transform: rotate(180deg);
}
ol.ol01 li{
  padding-left: 16px;
  transform: rotate(-180deg);
  position: relative;
  
}
ol.ol01 li::marker{
  font-family: "Russo One";
  text-align: right;
}
ol.ol01 li::before{
  font-family: "Russo One";
  content: counter(item, decimal-leading-zero) "  "; 
  counter-increment: item ;
  left: -1.7em;
  width: 2em;
  text-align: right;
  position: absolute;
}

year{color:var(--text); font-family: "YEAR";}

release,update,focus{
  background:var(--backmarker);
  border-color: var(--borderrelease);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 10px 10px 0px;
  padding: 2px 12px 2px 8px;
}

prerelease,preupdate{
  /* background:var(--backmarker); */
  color:var(--text);
  border-color: var(--text);
  color:var(--borderrelease);
  border-style: solid none solid solid;
  border-width: 1px;
  border-radius:10px 0px 0px 10px;
  padding: 2px 16px 2px 12px;
  margin-right: -9px;
}

update,preupdate{border-color: var(--borderupdate);}
focus{
  background:none;
  border-color:var(--border);
  border-radius: 10px;
}

fixed{text-decoration: line-through;}

.right{text-align: right;}