:root{
  --testBack:hsl(161, 89%, 7%);
  --hueBack:150;
  --hueJump:16;
  --lText:90%; /*general text lightness*/

  --hueFace:calc(var(--hueBack) + var(--hueJump));
  --background:hsl(var(--hueBack), 89%, 7%);
  --text:hsl(0, 0%, var(--lText));
  --text05:hsla(0, 0%, var(--lText), 0.6);
  
  --backhat:hsla(var(--hueFace), 100%, 79%, 0.10);
  --texthat:hsl(0, 0%, calc(var(--lText) * 0.9));
  
  --texta:hsla(var(--hueFace), 100%, 79%, 0.74);
  
  --border:hsla(var(--hueFace), 100%, 79%, 0.37);
  --borderrelease:hsla(0, 0%, 70%);
  --borderupdate:hsla(var(--hueFace), 20%, 50%);
}



@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&family=Oswald&family=Russo+One&display=swap');

@font-face {
  font-family: "YEAR";
  src: url("calculatorNumbers.ttf");
  }

body{
    font-family: 'Comfortaa', sans-serif !important;
    line-height: 200%;
    background:var(--background);
    color:var(--text);
}

@media(max-width: 480px){
  /*scale 0.75 (12 of 16) added for tiny mobile*/
  body{font-size: 12px;}
  focus{
    border-radius: 12px;
    padding: 3px 15px 3px 12px;
    margin-right: 3px;
  }
  release,update{
    border-radius: 0px 12px 12px 0px;
    padding: 3px 14px 3px 9px;
  }
  prerelease,preupdate{
    border-radius:12px 0px 0px 12px;
    padding: 3px 6px 3px 14px;
  }
  div.hat{border-radius: 36px;}
  div.beard{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 0px;
  }
  hat1{
    padding: 6px 24px 0px 24px;
    text-align: center;
  }
}
@media(min-width:481px) and (max-width: 720px){
  /*scale1*/
  body{font-size: 16px ;}
  focus{
    border-radius: 16px ;
    padding: 4px 20px 4px 16px ;
    margin-right: 4px ;
  }
  release,update{
    border-radius: 0px 16px 16px 0px ;
    padding: 3px 18px 3px 12px ;
  }
  prerelease,preupdate{
    border-radius:16px 0px 0px 16px ;
    padding: 3px 8px 3px 18px ;
  }
  div.hat{border-radius: 48px;}
  div.beard{
    border-bottom-left-radius: 32px ;
    border-bottom-right-radius: 32px ;
    border-top-right-radius: 0px ;
  }
  hat1{
    padding: 8px 32px 0px 32px ;
    text-align: center;
  }
}
@media(min-width:721px) and (max-width:1440px){
  /*scale 1.5*/
  body{font-size: 24px;}
  focus{
    border-radius: 24px;
    padding: 6px 30px 6px 24px;
    margin-right: 6px;
  }
  release,update{
    border-radius: 0px 24px 24px 0px;
    padding: 4.5px 27px 4.5px 18px;
  }
  prerelease,preupdate{
    border-radius:24px 0px 0px 24px;
    padding: 4.5px 12px 4.5px 27px;
  }
  div.hat{border-radius: 72px;}
  div.beard{
    border-bottom-left-radius: 48px ;
    border-bottom-right-radius: 48px ;
    border-top-right-radius: 0px ;
  }
  hat1{
    padding: 12px 48px 0px 48px;
  }
}
@media(min-width:1441px){
  /*scale 2*/
  body{font-size: 32px;}
  focus{
    border-radius: 32px;
    padding: 8px 40px 8px 32px;
    margin-right: 8px;
  }
  release,update{
    border-radius: 0px 32px 32px 0px;
    padding: 6px 36px 6px 24px;
  }
  prerelease,preupdate{
    border-radius:32px 0px 0px 32px;
    padding: 6px 16px 6px 36px;
  }
  div.hat{
    border-radius: 96px;
    margin-right: 128px;
    display:inline-block;
  }
  div.beard{
    border-bottom-left-radius: 64px ;
    border-bottom-right-radius: 64px ;
    border-top-right-radius: 64px ;
  }
  hat1{
    padding: 16px 64px 0px 64px;
  }
}

a{
  font-family: "Russo One" !important;
  color:var(--texta);
  text-decoration-line: none;
}
a.hat{color:var(--texta);}
hr{color:var(--text)}

img{max-width: 100%;}
iframe{max-width: 100%;}

marker1,marker2,marker3,marker4,marker5,marker6,
hat1,hat2,hat3,hat4,hat5,hat6 {
  font-family: 'Russo One', sans-serif !important;
  line-height: 0%;
}
marker1,hat1{font-size: 2em;}
marker2,hat2{font-size: 1.5em;}
marker3,hat3{font-size: 1.17em;}
marker4,hat4{font-size: 1em;}
marker5,hat5{font-size: .83em;}
marker6,hat6{font-size: .67em;}

hat1,hat2,hat3,hat4,hat5,hat6 {
  color:var(--texthat);
  display: inline-block;
}
hat1{
  line-height: 180%;
}
hat2{
  padding-left: 0.6em;
}
hat3{
  line-height: 220%;
  padding: 0px 1.9em;
}

div.hat{
  background:var(--backhat);
  color:var(--texthat);
  border-color: var(--border);
  border-width: 2px;
  border-style: solid solid none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding:0px;
  margin-top:0px;
  margin-left:0px;
  margin-bottom:0px;
}

div.beard{
  border-color: var(--border);
  border-width:2px;
  border-style:solid solid solid;
  border-top-left-radius: 0px;
  padding-top:0.7em;
  padding-right: 1em;
  padding-bottom:1em;
  padding-left: 2em;
}

div.box{
  border-color: var(--border);
  border-width:2px;
  border-style:solid;
  border-radius:30px;
  padding:0px 2em;
  margin: 2em;
  display: inline-block;
}

ul{
  padding: 1em;
}
ul li{padding-left: 1em;}
div.box ul li{
  line-height: 300%;
}
/* ul li::before{} */
ul li::marker{
  color:var(--text05);
  
}

ol.ol01{
  counter-reset: item;
  list-style-type: none;
  transform: rotate(180deg);
}
ol.ol01 li{
  transform: rotate(-180deg);
  position: relative;
}
ol.ol01 li::before{
  font-family: "Russo One" !important;
  font-size:0.875em;
  content: counter(item, decimal-leading-zero) " "; 
  counter-increment: item ;
  left: -1.7em;
  /* top: -0.5em; */
  top: 0.03em;
  width: 1.2em;
  text-align: right;
  position: absolute;
  color:var(--text05);
}

ol.ol02{
  counter-reset: item;
  list-style-type: none;
  transform: rotate(180deg);
}
ol.ol02 li{
  transform: rotate(-180deg);
  position: relative;
}
ol.ol02 li::before{
  font-family: "Comfortaa" !important;
  font-size:0.7em;
  content: counter(item, decimal-leading-zero) "."; 
  counter-increment: item ;
  left: -1.7em;
  /* top: -0.5em; */
  top: 0.09em;
  width: 1.2em;
  text-align: right;
  position: absolute;
  color:var(--text05);
}
ol.ol02 li{left:-0.5em;}

year{color:var(--text); font-family: "YEAR" !important;}

release,update,focus{
  background:var(--border);
  border-color: var(--borderrelease);
  border-style: solid;
  border-width: 2px;
}

prerelease,preupdate{
  color:var(--text);
  border-color: var(--text);
  color:var(--borderrelease);
  border-style: solid none solid solid;
  border-width: 2px;
}

update,preupdate{border-color: var(--borderupdate);}
focus{
  background:none;
  border-color:var(--border);
}

release,update,focus,prerelease,preupdate{
  white-space:nowrap;
}

fixed{text-decoration: line-through;}

.right{text-align: right;}