:root{
  --face: whitesmoke;
  --back: black;
}

body {
  background-color: var(--back);
  color: var(--face);
}

.separator {
  display: flex;
  align-items: center;
  margin: 1em auto 1em auto;
}

.separator .line {
  flex-grow: 1; /* Allow the line to grow and fill space */
  border: 1px solid;
}

.separator .number {
  border: 2px solid;
  padding: 4px;
  border-radius: 10px;
}

.face {
  color: var(--face)
}

.back {
  color: var(--back)
}

#top {
  display: inline-block;
  background-color: var(--face);
  color: var(--back);
  padding : 4px;
  border-radius: 10px;  
}

.hidden {display: none;}

.text, .word {
  display: inline-flex;
  border: 1px solid;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
}

.sv, .ru {
  padding: 2px;
}

.sv {
  font-weight: bold;
}

.text {
  flex-direction: column;
}
