body {
  background-color: black;
  color: whitesmoke;
}

#top {
  display: inline-block;
  background-color: whitesmoke;
  color: black;
  padding : 5px;
  border-radius: 10px;
  
}

.hidden {display: none;}

.text, .word {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
}

.sv, .ru {
  display: inline-block;
  margin: 0px;
  padding: 2px;
}

.sv {
  font-weight: bold;
}

.ru {
  border-left: 2px solid whitesmoke;
  color:black;
}
