table {
	border-collapse: collapse;
	border-spacing: 0;}

body {
	/* background: #eceae8 url(../img/bg.png); */
	font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
}



img {border: none;}
input {vertical-align: middle;}


table.w400{
	width: 400px;
}

input#info{
	width:100%;
	
	border:none;
}
/* gui section new code*/
input {width:36px;padding: 0;}
td {text-align: center;}
td.shirt {
	background: url("shirt.png");
}


button.boxbutton{
	width:78px;height:78px;
	text-align: center;
	margin:0px !important;
	margin-bottom: 4px;
	padding: 0;
	border-width:0;}

button:hover{
	/* background-color: #333; */
	
}
input[type="checkbox"]{
	width: 10px;
	
}

input[type="number"]{
	width: 60px;
}

.displaynone{display: none;}

p.red{color:red;}
p.green{color:green;}
p.blue{color:blue;}
